<h1 id="page_title">Work Experience</h1>
<div id="posts_wrapper" class="skinny_wrapper">
  <div class="post">
    <p class="date">May 2016 - November 2016</p>
    <h2>Quality Analyst in ETL Project for Lululemon, USA based Client</h2>
    <p class="tasks">¬	Developed optimized complex SQL scripts and procedures for the purpose of quality analysis.<br>
¬	Performed End to End system testing, Incremental testing & Regression testing in Oracle and DB2 Databases with tables containing more than 1 Billion records.<br>
¬	Developed Informatica workflows for purpose of quality analysis.<br>
¬	Utilized Jira Project Management Tool to log tasks and defects.

</p>
    <hr>
  </div>
  <div class="post">
    <p class="date">February 2016 - April 2016</p>
    <h2>Quality Analyst in Cubes and ETL Project for Realogy, USA based Client</h2>
    <p class="tasks">¬	Developed optimized complex SQL scripts and procedures in MS SQL Server and Oracle Database for quality analysis.<br>
¬	Performed End to End system testing in Microsoft SQL Server and Oracle Databases.<br>
¬	Analyzed the data derived from Microsoft SSAS cubes and developed TSQL scripts to test the quality of the data.<br>
¬	Worked with Microsoft TFS Project management tool to log defects.

</p>
    <hr>
  </div>
  <div class="post">
    <p class="date">June 2015 - January 2016</p>
    <h2>Quality Analyst in Data Migration and Reporting Project for Fossil, USA based Client</h2>
    <p class="tasks">¬	Performed End to End system testing and developed SQL scripts in Netezza Database with tables containing more than 500 million records.<br>
¬	Wrote UNIX/Linux Shell commands for purpose of QA.<br>
¬	Performed testing and validation of Reports using SQL Scripts.<br>
¬	Used Intuit Quick Base Project management tool for maintaining log of project activities.

</p>
    <hr>
  </div>
<div class="post">
  <p class="date">December 2014 - May 2015</p>
  <h2>Quality Analyst in ETL and Data Migration Project for Kantar, UK based Client</h2>
  <p class="tasks">¬	Performed quality assurance in parallel databases (Oracle and MS SQL Server) simultaneously to assure data synchronization.<br>
¬	Wrote SQL Scripts and performed End to End system testing, Incremental testing & Regression testing.<br>
¬	Developed Microsoft SSIS ETL packages to establish data transfer process from Oracle(source) to MS SQL Server Database(target) for Quality Analysis.<br>
¬	Executed Retrofit testing in Front flow data migration to ensure lack of anomalies in data updated directly in the Target System.<br>
¬	Executed Backflow testing to ensure source and target have correct data synced with each other.

</p>
  <hr>
</div>
<div class="post">
  <p class="date">November 2014</p>
  <h2>OBIEE Reporting Analyst in OBIEE Reporting Project for Sodexo, France based Client</h2>
  <p class="tasks">¬	Performed Testing of OBIEE Reports using SQL Scripts.<br>
¬	Performed End to End system testing.<br>
¬	Prepared Test Scenarios and Test Case Design.<br>
¬	Created and executed test cases.<br>
¬	Created regression suit and Test data Preparation.<br>

</p>
  <hr>
</div>
<div class="post">
  <p class="date">September 2014 - October 2014</p>
  <h2>Reporting Analyst in Crystal Reports for 7-Eleven, USA based Client</h2>
  <p class="tasks">¬	Created Test Strategy and Plan.<br>
¬	Analyzed and validated Crystal reports using SQL queries and procedures.<br>
¬	Used HP Quality Center to log defects.

</p>
  <hr>
</div>
</div>
