<h1 id="page_title">Work Experience</h1>
<div id="posts_wrapper" class="skinny_wrapper">
  <div class="post">
    <p class="date">May 2016 - November 2016</p>
    <h2>Quality Analyst in ETL Project for Lululemon, USA based Client</h2>
    <p class="tasks">¬	Wrote SQL Scripts and performed End to End system testing, Incremental testing & Regression testing in Oracle and DB2 Databases.<br>
¬	Run Informatica workflows for purpose of QA.<br>
¬	Logged tasks and defects in Jira Project management tool.
</p>
    <hr>
  </div>
  <div class="post">
    <p class="date">February 2016 - April 2016</p>
    <h2>Quality Analyst in Cubes and ETL Project for Realogy, USA based Client</h2>
    <p class="tasks">¬	Wrote SQL Scripts and performed End to End system testing in MS SQL Server and Oracle Database. <br>
¬	Tested data in Microsoft SSAS Cubes using SQL Scripts.<br>
¬	Logged defects in Microsoft TFS Project management tool. <br>
</p>
    <hr>
  </div>
  <div class="post">
    <p class="date">June 2015 - January 2016</p>
    <h2>Quality Analyst in Data Migration and Reporting Project for Fossil, USA based Client</h2>
    <p class="tasks">¬	Wrote SQL Scripts and performed End to End system testing in Netezza Database.<br>
¬	Performed testing of Reports using SQL Scripts and validating it with Database.<br>
¬	Wrote UNIX/Linux Shell commands for purpose of QA.<br>
¬	Logged tasks and defects in Intuit Quickbase Project management tool. <br>
</p>
    <hr>
  </div>
<div class="post">
  <p class="date">December 2014 - May 2015</p>
  <h2>Quality Analyst in ETL and Data Migration Project for Kantar, UK based Client</h2>
  <p class="tasks">¬	Performed quality assurance in parallel databases (Oracle and MS SQL Server) simultaneously to keep data synced.<br>
¬	Wrote SQL Scripts and performed End to End system testing, Incremental testing & Regression testing.<br>
¬	Preparing Microsoft SSIS packages for data load from Oracle to SQL server for purpose of QA.<br>
¬	Executing Retrofit testing in Front flow data migration to ensure data updated directly in Target System does not cause any anomalies.<br>
¬	Executing Backflow testing to ensure source and target have correct data synced with each other.<br>
</p>
  <hr>
</div>
<div class="post">
  <p class="date">November 2014</p>
  <h2>OBIEE Reporting Analyst in OBIEE Reporting Project for Sodexo, France based Client</h2>
  <p class="tasks">¬	Performed Testing of OBIEE Reports using SQL Scripts.<br>
¬	Performed End to End system testing, Prepared Test Scenarios, Test Case Design <br>
¬	Creation and execution of test cases, creation of regression suit, Test data Preparation.<br>
</p>
  <hr>
</div>
<div class="post">
  <p class="date">September 2014 - October 2014</p>
  <h2>Reporting Analyst in Crystal Reports for 7-Eleven, USA based Client</h2>
  <p class="tasks">¬	Creation of  Test Strategy and Plan <br>
¬	Wrote SQL queries for execution of test cases to validate reports and log defects in HP Quality Center.
</p>
  <hr>
</div>
</div>
