<h1 id="page_title">Work Experience</h1>
<div id="posts_wrapper" class="skinny_wrapper">
  <div class="post">
    <p class="date">May 2016 - November 2016</p>
    <h2>Full Stack Developer Intern - Ramana Coaching Center, Charlotte, USA</h2>
    <p class="tasks">
    <ul>
      <li>Full Stack Developer Intern in Education Portal Web Application used simultaneously by up to 300 users.</li>
      <li>Led team of interns in the development of Front end layer of Application using AngularJS (v1.x), Bootstrap, CSS, HTML.</li>
      <li>Migrate existing JavaScript and jQuery code to AngularJS (v1.x) and implement new functionality using AngularJS.</li>
      <li>Design Dashboards in Web Application using Bootstrap and CSS and responsible for making it mobile responsive.</li>
      <li>Involved in multi-tiered Java EE using Spring MVC Model connecting to MySQL Database.</li>
      <li>Implement Spring MVC Controllers, Services, DAO and DTO design patterns.</li>
    </ul>
</p>
    <hr>
  </div>
  <div class="post">
    <p class="date">January 2014 - November 2016</p>
    <h2>SQL Developer - Cognizant Technology Solutions, Kolkata, India</h2>
    <p class="tasks">
    <ul>
      <li>SQL Developer in Data Warehousing Projects, ETL and Business Intelligence projects for various clients: Fossil, Sodexo, Kantar, Lululemon, Realogy and 7-Eleven.</li>
      <li>Worked with various Relational Databases like Oracle, MS SQL Server, Netezza and DB2 with tables containing more than 1 Billion records and validated data in various stages of Data Warehouse using complex SQL/PL-SQL Scripts.</li>
      <li>Worked with Stakeholders following the Agile Scrum Software Development Process.</li>
    </ul>

    </p>
    <hr>
  </div>
  <!-- <div class="post">
    <p class="date">June 2015 - January 2016</p>
    <h2>Quality Analyst in Data Migration and Reporting Project for Fossil, USA based Client</h2>
    <p class="tasks">¬	Performed End to End system testing and developed SQL scripts in Netezza Database with tables containing more than 500 million records.<br>
¬	Wrote UNIX/Linux Shell commands for purpose of QA.<br>
¬	Performed testing and validation of Reports using SQL Scripts.<br>
¬	Used Intuit Quick Base Project management tool for maintaining log of project activities.

</p>
    <hr>
  </div>
<div class="post">
  <p class="date">December 2014 - May 2015</p>
  <h2>Quality Analyst in ETL and Data Migration Project for Kantar, UK based Client</h2>
  <p class="tasks">¬	Performed quality assurance in parallel databases (Oracle and MS SQL Server) simultaneously to assure data synchronization.<br>
¬	Wrote SQL Scripts and performed End to End system testing, Incremental testing & Regression testing.<br>
¬	Developed Microsoft SSIS ETL packages to establish data transfer process from Oracle(source) to MS SQL Server Database(target) for Quality Analysis.<br>
¬	Executed Retrofit testing in Front flow data migration to ensure lack of anomalies in data updated directly in the Target System.<br>
¬	Executed Backflow testing to ensure source and target have correct data synced with each other.

</p>
  <hr>
</div>
<div class="post">
  <p class="date">November 2014</p>
  <h2>OBIEE Reporting Analyst in OBIEE Reporting Project for Sodexo, France based Client</h2>
  <p class="tasks">¬	Performed Testing of OBIEE Reports using SQL Scripts.<br>
¬	Performed End to End system testing.<br>
¬	Prepared Test Scenarios and Test Case Design.<br>
¬	Created and executed test cases.<br>
¬	Created regression suit and Test data Preparation.<br>

</p>
  <hr>
</div>
<div class="post">
  <p class="date">September 2014 - October 2014</p>
  <h2>Reporting Analyst in Crystal Reports for 7-Eleven, USA based Client</h2>
  <p class="tasks">¬	Created Test Strategy and Plan.<br>
¬	Analyzed and validated Crystal reports using SQL queries and procedures.<br>
¬	Used HP Quality Center to log defects.

</p>
  <hr>
</div> -->
</div>
